
/* Testing Animation */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-icon {
    display: inline-block;
    animation: spin 1s linear infinite;
}

/* Tooltip container styling */
.tooltip-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    z-index: 1000;
    top: 100%; /* Position tooltip below the row */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
}

/* Show tooltip when hovering over the entire row */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
